<header>
  <div class="container">
    <h1 class="text-center font-gothic">{{title}}</h1>
  </div>
</header>
<main>

  <div class="container" data-ng-app="DoItApp">
    <table class="table font-gothic">
      <caption>
        <h2>List of your jobs</h2>
      </caption>
      <thead class="table-striped">
      <tr>
        <th>Action</th>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Priority</th>
        <th>Notification</th>
      </tr>
      </thead>
      <tbody>
      <tr class="dropdown" dropdown (load)="getJobs()" *ngFor="let j of allJobs$ | async">
        <td>
          <div class="btn-group dropdown" dropdown>
            <button dropdownToggle role="button" type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li><a (click)="onSelect(j)">Edit this job</a></li>
              <li><a href="#">Finish this job</a></li>
              <li class="divider"></li>
              <li><a (click)="deleteJob(j)">Delete this job</a></li>
            </ul>
          </div>
        </td>
        <td>{{ j.title }}</td>
        <td>{{ j.description }}</td>
        <td>{{ j.deadline }}</td>
        <td>{{ j.priority }}</td>
        <td>{{ j.notification }}</td>

      </tr>
      </tbody>
    </table>

  </div>

  <section id="editPanel">
    <div *ngIf="selectedJob" [@slideInOut] class="container">
      <h3>Edit your job</h3>
      <form class="font-gothic">
        <div class="form-row">
          <div class="form-group">
            <div class="col-md-5 mb-5">
              <label for="inputTitle">Title</label>
              <input #title
                     type="text" class="form-control color-form" id="inputTitle"
                     placeholder="' {{selectedJob.title}} '">
            </div>

            <div class="col-md-4 mb-5">
              <label for="inputDeadline">Deadline</label>
              <input  #deadline
                      type="date" min="2019-01-01" max="2200-12-31" class="form-control " id="inputDeadline"
                      placeholder="{{selectedJob.deadline}}">
            </div>

            <div class="col-md-3 mb-5">
              <label for="selectPriority">Priority</label>
              <select
                #priority
                class="form-control" id="selectPriority">
                <option selected>{{selectedJob.priority}}</option>
                <option value="1">High</option>
                <option value="2">Medium</option>
                <option value="3">Low</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-12 mb-10">
              <label for="inputDescription">Description</label>
              <textarea
                #description
                rows="3" type="text" class="form-control" id="inputDescription"
                        placeholder="' {{selectedJob.description}} '"></textarea>
            </div>
          </div>

          <div class="form-row">

            <div class="col-md-12 mb-5">
              <mat-checkbox
                [(ngModel)]="notificationEdit"
                [ngModelOptions]="{standalone: true}"
                class="form-check-input" type="checkbox" value="" id="notificationCheck">Notification</mat-checkbox>
<!--              <label class="form-check-label" for="invalidCheck3">&nbsp;  </label>-->
            </div>
            <div class="col-md-12 mb-5">
              <button class="btn btn-secondary" (click)="readForm(selectedJob.id, title.value, deadline.valueAsDate, description.value, priority.value); editJob();" type="submit">Save</button>
            </div>
          </div>

        </div>
      </form>
    </div>
  </section>
  <!--  <button type="button" class="btn btn-dark font-gothic" (click)="getJobs()">Get Jobs</button>-->
  <!--  <button (click)="getJobById(2)">Get 1st Job</button>-->
  <!--  <button (click)="addPost()">Add 1 post</button>-->
  <!--  <button (click)="editPost()">Edit post</button>-->
  <!--  <button (click)="deletePost()">delete post</button>-->
</main>

<footer>
  <div class="container"><h5>author: Daniel Nowosielecki</h5></div>

</footer>
<router-outlet></router-outlet>
